@import "tailwindcss";

/* use for tailwind CSS suggestion showing
@tailwind utilities; */
@theme {
  --color-chai: #653818;
  --color-chai-bg: #d49b61;
  --color-chai-soft: rgba(212, 155, 98, 0.5);
  --text-hero: 198px;
  --text-semiHero: 32px;
  --color-chai-dark: #e2bb7b;

  --text-hero-second: 160px;
  --text-semihero-second: 22px;

  --width-largeButton: 350px;
  --height-largeButton: 70px;

  /* ... */
}

@custom-variant dark (&:where(.dark, .dark *));

.neon-button::after {
  content: "";
  position: absolute;
  inset: 0;
  /* background-color: #653818;  */
  border-radius: 28px; /* fully rounded */
  z-index: -2;
}

.neon-button::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 0%;
  background-color: #d49b61;
  border-radius: 28px;
  z-index: -1;
  transition: all 0.6s ease;
}

.neon-button:hover::before {
  width: 100%;
}
